.task-box {
    flex-basis: 33%;
    padding: 15px;
    position: relative;
}
.task-card {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.card-body-box {
    padding: 7px;
}
.card-header-footer {
    padding: 7px;
}
@media (max-width: 991px) {
    .task-box {
        flex-basis: 50%;
    }
}
@media (max-width: 767px) {
    .task-box {
        flex-basis: 100%;
    }
}